<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="favicon.ico">
  </head>
  <body>
    <div id="react"></div>
  </body>
</html>
